* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    box-sizing: border-box;
}


.pagination {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: center;
    gap: 5px;
    margin: 20px 0px;
}

.pagination .page__num {
    padding: 8px 12px;
    cursor: pointer;
    font-weight: 400;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}


.pagination .page__num:hover {
    background: rgb(43, 80, 43);
    color: #fff;
}

.pagination .active {
    background: rgb(43, 80, 43);
    color: #fff;
}